<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime and Cartoon Classifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/dropzone.min.css">
    <link rel="stylesheet" href="static/app.css">
</head>

<body>
    <nav class="navbar navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="#">Anime and Cartoon Image Classifier</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col card-wrapper" data-category="anime">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="static/anime.png" alt="Card image cap">
                    </div>
                </div>
            </div>            
            <div class="col card-wrapper">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="static/vs.png" alt="Card image cap">
                        </div>
                    </div>
            </div>            
            <div class="col card-wrapper" data-category="cartoon">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="static/cartoon.png" alt="Card image cap">
                        </div>
                    </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <form action="/file-upload" class="dropzone" id="dropzone">
                            <div class="dz-message needsclick">
                                <img src="static/upload.png" width="50vw" height="50vw"><br>
                                <span class="note needsclick">Drop files here or click to upload</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3 mx-auto">
                        <button id="submitBtn" type="button" class="btn btn-success">Classify</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-8 error" id="error" >
                <p>Can't classify image. Classifier was not able to detect Anime or Cartoon properly</p>    
            </div>

            <div class="col-sm-4" id="resultHolder">
            </div>
            <div class="col-sm-4" id="divClassTable">
                <table id="classTable">
                        <tr>
                            <th>Category</th>
                            <th>Probability Score</th>
                        </tr>
                        <tr>
                            <td>Anime</td>
                            <td id="score_anime"></td>
                        </tr>
                        <tr>
                            <td>Cartoon</td>
                            <td id="score_cartoon"></td>
                        </tr>
                </table>
            </div>
            
        </div>

    </div>

</body>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="static/dropzone.min.js"></script>
<script src="static/app.js"></script>
</html>